*{
  /* list-style: none; */
  text-decoration: none;
}

.header{
  /* background-color: rgba(213, 113, 76, 0.537); */
width: 100%;
  height: 100vh;
  background-image: url('./Images/photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


#header{
 
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo{
  margin-top: 30px;
  width: 200px;
  border-radius: 50%;
}
.ol,.Admin ol{
   list-style: none;
  font-size: 28px;
  font-weight: bolder;
  margin-right: 150px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


 .ol li{
  /* border: 1px solid black; */
   list-style: none;
  text-align: center;
  width: 200px;
  margin: 50px;
  background-color: rgb(243, 237, 235);
  border-radius: 20px;
}
.ol li:hover{
  color: white;
  background-color: rgba(91, 158, 184, 0.578);
}


.flexx{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexx h1{
  position: absolute;
  top: 50px;
  color: white;
  font-size: 42px;
  font-weight: 500;
}


/* //admin-container */

.admin-container{
 position: relative;
  text-align: center;  
  display: flex;
  justify-content: center;
  z-index: 10;
  background-image: url('./Images//admin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 
  
}
.admin-con-child{
  height: auto;
  width: 340px;
  align-content: center;
border: 1px solid black;
border-radius: 20px;
background-color: white;
margin:250px;
}


.btn{
  width: 150px;
  border-radius: 10px;
  background-color: tomato;
  font-size: 18px;
}
.btn:hover{
  color: white;
  background-color: rgb(242, 40, 4);
  cursor: pointer;
}


label{
  font-size: 22px;
  font-weight: 400;
}
input{
  width: 200px;
  height: 20px;
  border-radius: 5px;
}


/* Admin */

.Admin {
  width: 100%;
  color: wheat;
 background-color: whitesmoke;
 
}

.nav-home{
  position: relative;
  color: white;
  top: 40px;
  margin-left: 100px;
  font-size: 28px;
  font-weight: bolder;
  z-index: 1;

}

.admin-back{
  width: 100%;
  height: 100vh;
  margin: auto;
  margin-top: -28px;
  background-image: url('./Images//admin-office-binder.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.admin-home{
  position: relative;
  top: 150px;
  /* left: 320px; */
  text-align: center;
  color: white;
  font-size: 42px;
  z-index: 3;
}

.center{
  background-image: url('./Images//mountains.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
 margin-top: -28px;
  height: 100vh;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;

}
table{
  margin-top: 50px;
  width: 200%;
  margin-left: -150px;
  text-align: center;


}


/* owner register */
.pic,.pic2{
  width: 100vw;
  height: 100vh;
  background-image: url('./Images//images2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.pic2{
  background-image: url('./Images/hotels.jpg');


}
.reg-container{

  position: relative;
  text-align: center;  
  display: flex;
  justify-content: center;
  z-index: 10;
}
.reg-con{
  
  height: auto;
  width: 400px;
  align-content: center;
border: 1px solid black;
border-radius: 20px;
background-color: white;
margin:200px;
  /* display: flex;
  justify-content: center; */

}


/* owner */
.multiple{
  width: 40%;
  /* margin-top: 100px; */
  display: flex;
  justify-content:center;
  align-items: center;
  align-self: center;
  margin: auto;
  background-color: rgb(249, 250, 250);
  border-radius: 20px;
  text-align: center;
  position: relative;
  top: 100px;
 
}
.back-logo{
  margin-top: -25px;
  background-image: url('./Images/best.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.con{
  width: 80%;
  height: 100vh;
  margin: auto;
 
}
.owner-nav {

  font-size: 28px;
  font-weight: bolder;
  margin-right: 150px;
  color: white;
  position: relative;
  top: 50px;
  z-index: 10;

}
.owner-nav ol{
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.owner-nav ol li{
  margin: 10px;
  color: white;
}



/* user */

.fle{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.child{
  width: 400px;
  height: 420px;
  background-color: rgb(242, 248, 248);
  margin: 20px;
  border-radius: 20px;
  /* box-shadow: 10px 10px rgb(185, 185, 184); */
}
.child:hover{
  transform: scale(1.05,1.05);
  transition: all 1s;
  box-shadow: 0px 0px 5px 5px rgb(185, 185, 184);

}
.child-image-size{
  width: 350px;
  height: 250px;
  padding: 20px 0px 0px 10px;
  align-items: center;
}

.head{
  font-size: large;
  margin-left: 10px;
}
.addresss{
  font-size: medium;
  margin-left: 10px;
}


.discount-price{
  font-size: 15px;
}
.address{
  font-size: 10px;

}
.block{
  position: relative;
  top: 20px;

}
.price-title{
  font-size: 22px;

}

.price{
  position: absolute;
  left: 40px;
  
}
.price:hover{
  color: chocolate;
}



.add-to-cart{
  position: absolute;
  left: 180px;
  top: 0px;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
 
}

.add-to-cart,.now:hover{
  cursor: pointer;
  background-color: rgb(255, 123, 100);
}




.user-logo{
  /* margin-left: 100px; */
  position: relative;
 
  z-index: 100;
  width: 100px;
  border-radius: 50%;
  /* height: 50px; */
  
}
.nav-user-right ol{
   list-style: none;
 color: rgba(255, 255, 255, 0.755);
  display: flex;
  margin: auto;
  font-size: 22px;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(73, 85, 244);
  align-items: center;

}
.log{
  color: rgba(255, 255, 255, 0.671);
}


/* book */

.book-title{
  text-align: center;
  font-size: 32px;
  text-shadow: 1px 1px black;

}
.book-container,.Description{
  width: 70%;
  margin: auto;
}
.book-img{
  width: 500px;
  border-radius: 20px;
  height: 400px;
  /* margin-left: 100px; */
}
.book-content{
  position: absolute;
  top: 90px;
  left: 750px;
  z-index: 1;
 
}
.one {
  font-size: 22px;
  font-weight: 1000;
  font-family: sans-serif;
  text-transform: capitalize;
}
.two{
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;

}
.third{
  font-size: 18px;


}
.third-one{
  color: green;
}
.four{
  background-color: rgb(130, 129, 129);
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

.Description-title{
  font-size: 22px;
  font-weight: 500;
}
.Description-title ol li{
  list-style-type: disc;
}
.btn2{
  width: 300px;
  padding: 5px;
  background-color: rgb(138, 138, 226);
}

@media (min-width:500px) and (max-width:821px) {
  .multiple{
    width: 70%;
   
  }
  
}


@media (max-width:421px) { 

  .header{
  width: 100vw;
    height: 100vh;
  }
  
  
  #header{
   
    margin-left: 0px;
  
  }
  
  .logo{
    margin-top: 30px;
    margin-left: -10px;
    width: 200px;
    border-radius: 50%;
  }
  .ol,.Admin ol{
    
    margin-right: 0px;
   
  }
  
  
   .ol li{  
    margin: 30px;
  }

  
  .flexx{
    position: relative;
    display: block;
   
  }
  .flexx h1{
    position: absolute;
    top: 0px;
    left: 50px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 500;
  }
  
  /* admin */
.admin-container{
  position: relative;
   text-align: center;  
   display: flex;
   justify-content: center;
   z-index: 1;
   background-image: url('./Images//admin.jpg');
   background-repeat: no-repeat;
   background-size: cover;
  
   
 }
 .admin-con-child{
   height: 300px;
   width: auto;
   align-content: center;
 border: 1px solid black;
 border-radius: 20px;
 background-color: white;
 padding: 30px;
 margin:auto;
 }
 
 
 
 
 
 label{
   font-size: 18px;
   font-weight: 400;
 }
 input{
   width: 150px;
  
 }

 
.Admin {
  width: 100%;
  color: wheat;
 background-color: whitesmoke;
 
}

.nav-home{
  position: relative;
  color: white;
  top: 40px;
  margin-left: 100px;
  font-size: 28px;
  font-weight: bolder;
  z-index: 1;

}

.admin-back{
  width: 100%;
  height: 100vh;
  margin: auto;
  margin-top: -28px;
  background-image: url('./Images//admin-office-binder.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.admin-home{
  position: relative;
  top: 150px;
  /* left: 320px; */
  text-align: center;
  color: white;
  font-size: 42px;
  z-index: 3;
}

.center{
 
 margin-top: -28px;
  height: 100vh;
 display: flex;



}
table{
  
  margin-top: 50px;
  width: 100%;
  margin-left: 0px;
  text-align: center;


}
.m{
  width: auto;
}

.reg-con{
  
  height: auto;
  width: 350px;
 
margin:0px;
margin-top: 200px;
}
.owner-nav {
  margin-right: 10px;
 

}



.child{
  width: 360px;
  height: 400px;
}

.child-image-size{
  width: 340px;
  height: 250px;
  padding: 20px 0px 0px 10px;
  align-items: center;
}

.head{
  font-size: large;
  margin-left: 10px;
}
.addresss{
  font-size: medium;
  margin-left: 10px;
}






.user-logo{
  margin-left:0px;
  position: relative;
 
  z-index: 100;
  width: 100px;
  border-radius: 50%;
  /* height: 50px; */
  
}
.nav-user-right ol{
  
 
  flex-direction: column;
  justify-content: center;
 

}
.nav-user-right ol li{
  margin: 10px;
}
.log{
  color: rgba(255, 255, 255, 0.671);
}
  

.book-container,.Description{
  width: 100%;
  margin: auto;
}
.book-img{
  width: 300px;
  border-radius: 20px;
  height: 300px;
  margin-left: 50px;
}
.book-content{
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 1;
 
}




  
  





/* 
  .multiple{
    width: 100%;
   
  }
  
#header{

  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo{
  margin-left: 100px;
 
  
}


.hotelss{
  margin-top:50px;
  min-width: 400px;
  border-radius: 20px;
}

.admin-container{
  position: relative;
   text-align: center;  
   display: flex;
   justify-content: center;
   z-index: 10;
   background-image: url('./Images//admin.jpg');
   background-repeat: no-repeat;
   background-size: cover;
  
   
 }
 .admin-con-child{
   height: auto;
   width: 100%;
   align-content: center;
 border: 1px solid black;
 border-radius: 20px;
 background-color: white;
 margin:250px;
 } */
}